/* Estilo del contenido del modal */

.modal {
  border: 1px solid rgba(232, 232, 232, 0.6);
  max-height: 100vh; /* Altura máxima del modal del 100% de la vista */
  height: auto; /* La altura del modal será ajustada por su contenido */
  overflow: hidden; /* Para que no haya scroll */
}
.modal-body {
  max-height: 100vh; /* Limita la altura máxima del modal */

 }

/* Color del texto de las etiquetas */
.modal-body label {
  color: #000000; /* Cambia el color del texto de las etiquetas a blanco */
}

/* Ajusta el tamaño del área de texto */
textarea.form-control {
  resize: vertical; /* Permite el ajuste vertical */
  height: 50px;
  background-color: rgb(199, 199, 199);  /* Fondo igual al del modal */
  color: rgb(0, 0, 0); /* Texto dentro del área de texto en blanco */
  border-color: transparent; /* Opcional: para asegurar que no haya bordes visibles */
}

/* Estilo para los campos de entrada */
input.form-control {
  background-color: rgb(199, 199, 199); /* Fondo igual al del modal */
  color: rgb(0, 0, 0); /* Texto dentro del campo en blanco */
  border-color: transparent; /* Opcional: para asegurar que no haya bordes visibles */
}

/* Placeholder en blanco */
input::placeholder, textarea::placeholder {
  color: rgb(0, 0, 0); /* Color del texto del placeholder en blanco */
}
.btn-primary {
  color: rgb(0, 0, 0);
  background-color: rgb(199, 199, 199);
  border-color: #fff;
}

/* Estilo del botón de contacto */
.btn-contacto {
  padding: 15px 30px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50px;
  background-color:#000000; 
  border: none;
  color: white; /* Color del texto del botón en blanco */
}

.btn-contacto:hover {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 1s ease, color 1s ease;
  -webkit-transition: background-color 1s ease, color 1s ease;
  -moz-transition: background-color 1s ease, color 1s ease;
  -ms-transition: background-color 1s ease, color 1s ease;
  -o-transition: background-color 1s ease, color 1s ease;
}
.btn-close{
  color: #fff;
  background-color: #fff;
}
.container2 {
  background-color: rgba(0, 0, 0, 0.9) !important; // Fondo negro con 0.7 de transparencia
  color: white !important; // Texto en blanco
  padding: 50px 0; // Añade algo de padding para espaciar el contenido
  text-align: center;
  margin-bottom:10px ;
}
  h2, p {
    color: white; // Asegura que el texto dentro del h2 y p sea blanco
    text-align: center;
  }

  h2 {
    font-size: 2.5rem; // Ajusta el tamaño del título
  }

  p {
    font-size: 1.2rem; // Ajusta el tamaño del párrafo
    margin-top: 15px;
  }

/* Color del borde para campos válidos e inválidos */
input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-valid, textarea.ng-touched.ng-valid {
  border-color: rgb(0, 255, 0);
  
}
