/* Estilo del contenido del modal */
.modal-content {
  color: #fff;
  border-radius: 10px; /* Reduce el radio del borde */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8); /* Menor sombra */
  padding: 15px ; /* Menos padding */
  background-color: rgba(7, 5, 40, 0.4); /* Fondo con opacidad */
}

/* Color del texto de las etiquetas */
.modal-body label {
  color: white; /* Cambia el color del texto de las etiquetas a blanco */
}

/* Ajusta el espaciado entre los campos */
.form-group {
  margin-bottom: 0.5rem ; /* Espacio reducido entre los campos */
}

.modal-dialog.modal-sm {
  max-width: 500px; /* Tamaño del modal */
}

/* Ajusta el tamaño del área de texto */
textarea.form-control {
  resize: vertical; /* Permite el ajuste vertical */
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6); /* Fondo igual al del modal */
  color: white; /* Texto dentro del área de texto en blanco */
  border-color: transparent; /* Opcional: para asegurar que no haya bordes visibles */
}

/* Estilo para los campos de entrada */
input.form-control {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo igual al del modal */
  color: rgb(0, 0, 0); /* Texto dentro del campo en blanco */
  border-color: transparent; /* Opcional: para asegurar que no haya bordes visibles */
}

/* Placeholder en blanco */
input::placeholder, textarea::placeholder {
  color: white; /* Color del texto del placeholder en blanco */
}

/* Estilo del botón de contacto */
.btn-contacto {
  padding: 15px 30px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50px;
  background-color: #007bff;
  border: none;
  color: white; /* Color del texto del botón en blanco */
}

.btn-contacto:hover {
  background-color: #0056b3;
  color: #fff;
}
.btn-close{
  color: #fff;
  background-color: #fff;
}

/* Color del borde para campos válidos e inválidos */
input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-valid, textarea.ng-touched.ng-valid {
  border-color: green;
}
