<footer class="text-black text-center py-4">
  <div class="container">
    <!-- Redes Sociales -->
    <div class="mb-3">   
      <a href="https://linkedin.com" target="_blank" class="text-black me-4">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>  
    </div>

    <!-- Enlace al Email -->
    <p class="mb-0">
      Contact us: <a href="mailto:example@example.com" class="text-black">exampleexample.com</a>
    </p>

    <!-- Derechos reservados -->
    <p class="mt-2 mb-0">&copy; 2024 Agencia Paliza</p>
  </div>
</footer>
