footer {
    background-color: rgba(0, 0, 0, 0.8)
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    color: #00ccff;
  }
  
  footer i {
    transition: color 0.3s ease;
  }
  
  footer i:hover {
    color: #00ccff;
  }
  