<footer class="text-black text-center py-4">
  <div class="container">
    <!-- Redes Sociales -->
    <div class="mb-3">   

      <a href="https://www.linkedin.com/company/salemtechnologies/posts/?feedView=all " target="_blank" class="text-black me-4">

        <i class="fab fa-linkedin fa-lg"></i>
      </a>  
    </div>

    <!-- Derechos reservados -->
    <p class="mt-2 mb-0">&copy; 
      <a href="https://www.linkedin.com/company/agencia-paliza/" target="_blank">
        2025 Agencia Paliza
      </a>
    </p>
  </div>
</footer>
