/* Webfont: Guton-SemiBold */
@font-face {
  font-family: "GutonSemBd";
  src: url("Guton-SemiBold.woff") format("woff"),
    /* Modern Browsers */ url("Guton-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Guton-ExtraBold */
@font-face {
  font-family: "GutonExtBd";

  src: url("Guton-ExtraBold.woff") format("woff"),
    /* Modern Browsers */ url("Guton-ExtraBold.woff2") format("woff2"); /* Modern Browsers */

  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Guton-Bold */
@font-face {
  font-family: "Guton";
  src:
    /* Modern Browsers */ url("Guton-Bold.woff2") format("woff2");

  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: Guton-Black */
@font-face {
  font-family: "GutonBlack";

  src: 
    /* IE6-IE8 */ url("Guton-Black.woff") format("woff"),
    /* Modern Browsers */ url("Guton-Black.woff2") format("woff2");

  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Guton-Regular */
@font-face {
  font-family: "Guton";

  src:
    /* IE6-IE8 */ url("Guton-Regular.woff") format("woff"),
    /* Modern Browsers */ url("Guton-Regular.woff2") format("woff2");

  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Guton-Medium */
@font-face {
  font-family: "GutonMed";

  src:
    /* IE6-IE8 */ url("Guton-Medium.woff") format("woff"),
    /* Modern Browsers */ url("Guton-Medium.woff2") format("woff2");

  font-weight: normal;
  text-rendering: optimizeLegibility;
}
