  
    <div class="divider"></div>

    <div class="container text-center py-5">
      <h2>Nuestra manera</h2>
      <div class="row justify-content-center">
        <div class="col-6 col-md-2 col-lg-2" *ngFor="let item of items">
          <div class="icon-wrapper">
            <img src="{{item.icon}}" alt="{{item.title}}">
          </div>
          <h4>{{item.title}}</h4>
          <p>{{item.description}}</p>
        </div>
      </div>
       <!-- Imagen y texto adicional -->
  <div class="image-text-wrapper d-flex align-items-center mt-5">
    <img src="/assets/salem_propuesta.jpg" alt="Imagen destacada" class="enlargable-image" (click)="toggleImageSize($event)">
    <div class="text-content ms-4">
      <h2>¿Qué hacemos?</h2>
      <ul class="two-column-list">
        <li><strong>Conectamos</strong> el mundo físico al mundo virtual en la nube.</li>
        <li><strong>Integramos</strong> las tecnologías para facilitar la disponibilidad de la información.</li>
        <li><strong>Disponibilizamos</strong> las comunicaciones para transformarlas en la carretera de los datos.</li>
        <li><strong>Planteamos</strong> análisis de masas de datos para identificar comportamientos de interés.</li>
        <li><strong>Identificamos</strong> los procesos de gestión en términos de rutinas de análisis.</li>
        <li><strong>Mejoramos</strong> las rutinas de análisis cotejando predicciones de modelos con KPI’s reales.</li>
        <li><strong>Mejoramos</strong> la exactitud de la ejecución generando más eficiencia y efectividad en la ingeniería que implementamos (reducimos retrabajos).</li>
        <li><strong>Incrementamos </strong>la rentabilidad de su negocio.</li>
      </ul>
    </div>
  </div>
</div>
<div class="divider"></div>
   