.divider {
  width: 80%;
  height: 2px;
  background-color: rgba(232, 232, 232, 0.0);
  /* Color dorado claro para la línea */
  margin: 40px auto;
  /* Espacio alrededor de la línea y centrado horizontal */

}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Fondo oscuro semi-transparente */
  z-index: 10;
  display: none; /* El overlay está oculto por defecto */
}

.overlay.show {
  display: block; /* Muestra el overlay cuando la imagen se expande */
}
/* Estilos para la imagen y el texto */
.image-text-wrapper {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
}

.image-container {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.enlargable-image {
  
  box-shadow: 0 4px 6px rgba(124, 124, 124, 0.4), 0 2px 6px rgba(233, 233, 233, 0.4) !important;
  border: 2px solid rgba(232, 232, 232, 0.6);
  border-radius: 5px;
  max-width: 600px;
  transition: transform 0.5s ease-in-out, z-index 2s 0.5s;
  cursor: pointer;
  z-index: 11;
  transform-origin: center center;
}

.enlargable-image.expanded {
  transform: scale(1.2) translateY(-15%) translateX(34%);
  z-index: 10;
}
.text-content {
  max-width: 500px;
  /* Ajusta el ancho máximo del texto */
  text-align: justify; /* Justifica el texto para un borde derecho uniforme */
  /* Alinea el texto a la izquierda */
}

.two-column-list {

  padding: 0;
  margin: 0;
}

.two-column-list li {
  padding: 5px 0;
  /* Espaciado entre ítems */
}
strong{
  color: #000000;
}
h2{
  color: #ffffff	; 
  text-shadow: #000000 0 4px 4px;
 /* Fuente serif para un toque formal */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  font-weight: bold;
  letter-spacing: 1px; /* Espaciado entre letras para un efecto refinado */
  text-transform: uppercase; /* Todo en mayúsculas para un impacto visual mayor */

  position: relative;
  display: inline-block;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .two-column-list {
    display: grid;
    margin-bottom: 0.5rem; // Espaciado entre elementos
    text-align: left;
  }

  .two-column-list li {
    padding: 10px;
    /* Opcional: Ajustar espaciado para móviles */
  }

  .enlargable-image.expanded {
    transform: scale(1.2);
  }

  .image-text-wrapper {

    flex-direction: column;
    /* Cambia la dirección de los elementos para pantallas más pequeñas */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 0 0.5rem;
    /* Reduce el relleno */
  }

  .enlargable-image {
    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen en pantallas más pequeñas */
  }

  .text-content {
    text-align: center;
    /* Centra el texto */
    padding: 0.5rem;
    /* Reduce el relleno */
  }
  h2{
    margin-right: 10px;
  }
}