<div class="seccion1">
  <div class="content">  
  <p class="info">NUESTROS SERVICIOS</p>
  <H1 class="tittle">Automatizamos <br> y protegemos <br> tu industria</H1>
  <p class="text">
    En Salem combinamos <strong>ciberseguridad</strong> de alto nivel y <strong>consultoría en
      automatización</strong> para transformar digitalmente los sectores más exigentes: <strong>Oil
        & Gas, minería, y generación eléctrica.</strong> Nuestros servicios garantizan la
    <strong>eficiencia</strong>, la  <strong>protección</strong> y la <strong>optimización</strong> de tus procesos industriales.
  </p>
</div>
</div> 

<div class="seccion2">
  <div class="cta-button">
    CONECTÁ CON EXPERTOS 
     <span class="arrow">→</span>
  
  </div>
  <div class="content">
    <img src="../../../assets/Candado.png" alt="Icono de seguridad" class="icon">
    <h2 class="title">Ciberseguridad OT <br> y Defensa Avanzada</h2>
    <p class="description">
      Protege tus sistemas críticos contra amenazas globales con nuestras soluciones de ciberseguridad OT. Nos aliamos con Dragos, líder mundial en defensa de infraestructuras estratégicas, para ofrecerte:
    </p>
    <ul class="features">
      <li>Detección y respuesta temprana ante ataques cibernéticos.</li>
      <li>Plataforma inteligente para gestión de amenazas.</li>
      <li>Seguridad proactiva y protección integral para tecnologías de operación.</li>
    </ul>
  </div>

</div>
