/* Estilos generales para la sección */
#equipo {
  padding: 2rem 0;
  text-align: center;
  margin-top: 80px;
  overflow-x: hidden;
 }
  h2 {
      text-align: center;
      color: #ffffff; 
      text-shadow: #000000 0 4px 4px;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 30px;
      position: relative;
      display: inline-block;
      transition: color 0.5s ease-in-out;

      &:hover {
          color: #00c2f3;
          text-shadow: #ffffff 0 1px 1px;
      }
  }

  .container{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;

  }
  .intro-text {
    font-size: 1.2rem;
    color: #00c2f3;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
  }

  .team-details {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    color: #ffffff ;
    
    li {
      display: flex;
      align-items: baseline; // Alinea el texto del título con el texto de la descripción
      margin-bottom: 0.5rem; // Espaciado entre elementos
        text-align: left;
      strong {
        color: #00c2f3;
        min-width: 200px; // Ajusta el ancho mínimo del título para alinear los textos
        display: inline-block; // Asegura que todos los títulos ocupen el mismo ancho
        text-align: left; // Alinea el texto a la izquierda
      }
  
      p {
        flex-grow: 1; // Permite que el texto ocupe el resto del espacio disponible
        margin-left: 0.5rem; // Añade un pequeño espacio entre el título y la descripción
     
      }
    }
  }
  

  .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente */
  }

  .col-md-2 {
    display: flex;
    justify-content: center; /* Centra las cartas dentro de la columna */
    margin: 0 10px; /* Añade un poco de margen lateral para que las columnas no se agrupen */
    transition: transform 0.3s ease-in-out;
  }

  .card {
      width: 300px; /* Tamaño por defecto */
      height: 300px; /* Tamaño por defecto */
      margin: 1rem;
      perspective: 1000px;
      background-color: rgba(0, 0, 0, 0.8)
      
  }

  .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      transform-origin: center;
      cursor: pointer;
      transition: 1.5s ease-in-out; 
  }

  .card:hover .card-inner {
      transform: rotateY(180deg);
      
  }

  .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
  }

  .card-front {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.1);
      border:1px  #000000;
      border-radius: 8px;
      overflow: hidden;
  }
  .card-front h5 {
    margin: 1rem 2rem 1rem;
    color: #00c2f3;
    text-shadow: #ffffff   0 0.5px 0.5px;
}


  .card-front img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .card-back {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.0);
    
      border-radius: 8px;
      transform: rotateY(180deg);
      padding: 1rem;
  }

  .card-back p {
    font-size: 1rem !important;
      margin: 0.2rem 0;
      color: #ffffff;
  }


  .container2 {
    background-color: rgba(0, 0, 0, 0.7) !important; // Fondo negro con 0.7 de transparencia
    color: white !important; // Texto en blanco
    padding: 50px 0; // Añade algo de padding para espaciar el contenido
    text-align: center;
    border-radius: 20px;
}
    h2, p {
      color: white; // Asegura que el texto dentro del h2 y p sea blanco
      text-align: center;
    }
  
    h2 {
      font-size: 2.5rem; // Ajusta el tamaño del título
    }
  
    p {
      font-size: 1.2rem; // Ajusta el tamaño del párrafo
      margin-top: 15px;
    }
    @media (min-width: 769px) {
        #read-more-btn {
          display: none;
        }
 }

  @media (max-width: 768px) {
    
   
        .card {
            width: 150px; /* Tamaño reducido para pantallas más pequeñas */
            height: 250px;
        }
  
      
      .container-card {
          display: grid; /* Cambia a grid para mayor control */
          grid-template-columns: repeat(2, 1fr); /* Dos cartas por fila */
          gap: 1rem; /* Espacio entre cartas */
          max-width: 100%;
      }

      .card {
          width: 140px; /* Ajuste adicional en pantallas más pequeñas */
          height: 220px;
      }
      .intro-text {
        font-size: 15px;
        line-height: 1.5em;
        margin-bottom: 15px;
        color: #ffffff;
      }
      
      .team-details {
        list-style: none;
        padding-left: 0;
        font-size: 14px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 3s ease, opacity 3s ease;
      }
      
      .team-details li {
        margin-bottom: 15px;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
      
      .team-details li strong {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #00ccff;
      }
      
      .team-details li span {
        display: block;
        color: #ffffff;
      }
      
      #read-more-btn {
        display: inline-block;
        margin-bottom: 10px;
        background-color: #0066cc;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .show-content {
        max-height: 650px; /* Ajusta este valor según el contenido */
        opacity: 1;
      }
      
  }
