@media (max-width: 360px) {
 
  .seccion1 {
    background-image: url('../../../assets/contacto mobile.png');
    background-size: cover;
    background-position: center;
    padding-top: 15vh;
    padding-bottom: 20px;
    color: white;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;

    .content {
      height: 100vh;
      padding: 0 20px;
      max-width: 100%;
    }

    .info {
      font-family: "Guton", Georgia;
      font-weight: 400;
      font-size: 16pt;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 5px;
      line-height: 50pt;
    }
  .tittle {
    font-family: "Guton";
    font-weight: bold;
    font-size: 30pt;
    line-height: 50pt;
    text-align: left;
    margin: 10px 0;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
  }

  .text {
    font-size: 16pt;
    line-height: 22pt;
  }
}
}

@media (max-width: 768px) and (min-width: 361px) {
  .seccion1 {
    background-image: url('../../../assets/contacto mobile.png');
    background-size: cover;
    background-position: center;
    padding-top: 15vh;
    padding-bottom: 20px;
    color: white;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;

    .content {
      padding: 0 22px;
      max-width: 100%;
    }

    .info {
      font-family: "Guton", Georgia;
      font-weight: 400;
      font-size: 16pt;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 5px;
      line-height: 50pt;
    }

    .tittle {
      font-family: "Guton";
      font-weight: bold;
      font-size: 33pt;
      line-height: 50pt;
      text-align: left;
      margin: 10px 0;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 100%;
    }

    .text {
      font-family: "Guton", Georgia;
      font-weight: 400;
      font-size: 18pt;
      line-height: 27pt;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 7rem;
    }
  }
  .seccion2 {
    background: blue;
    color: white;
    text-align: center;
    max-width: 100%;
    position: relative;
  }
  

  .cta-button {
    background-color: white;
    color: #1f2cd6;
  font-family: "GutonMed";
    
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22pt; /* Interlineado */
    letter-spacing: 0.1em; /* Kerning */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .arrow {
    font-size: 22px; /* Tamaño de la flecha */
    margin-top: -10px; /* Espacio entre texto y flecha */
  }
  
  .icon {
    width: 80px;
    margin: 20px auto;
  }
  
  .title {
    font-family: "Guton", Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  .description {
    font-family: "Guton", Georgia, serif;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .features {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .features li::before {
    content: "• "; /* Agrega el punto como marcador */
    color: #1f2cd6;
  }
}

