<section class="cybersecurity-section">
    <h2>Servicios Clave <br> de Ciberseguridad</h2>
    <div class="services-container">
      <div class="service-card">
        <h3>Evaluación de indicadores de compromiso</h3>
        <p>Inspección del tráfico en busca de amenazas.</p>
      </div>
      <div class="service-card">
        <h3>Ejercicios de entrenamiento para <br> respuesta a incidentes</h3>
      </div>
      <div class="service-card">
        <h3>Revisión de Arquitectura OT</h3>
        <p>Recomendaciones estratégicas de diseño y seguridad.</p>
      </div>
    </div>
  </section>
  