<div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="team-member text-center">
          <img src="../../../../assets/foto leo.png" class="d-block rounded-circle mx-auto" alt="Persona 1">
          <h3>Leonardo Gimeno</h3>
          <p>Director Ejecutivo | Ing. Aeronáutico <br>
           Linkedin Leonardo R Gimeno</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="team-member text-center">
          <img src="../../../../assets/foto santi.png" class="d-block rounded-circle mx-auto" alt="Persona 2">
          <h3>Santiago Yaconis</h3>
          <p>Socio Fundador | Ing. Quimico <br>
          Linkedin Santiago Yaconis</p>
        </div>
      </div>
      
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="teamCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="teamCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
     
    </div>
    <!-- Controles del carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="teamRow" class="team-row">
    <div class="team-member">
      <img src="../../../../assets/foto leo.png" class="rounded-circle" alt="Persona 1">
      <h3>Leonardo Gimeno</h3>
      <p>Director Ejecutivo | Ing. Aeronáutico  <br>
       Linkedin Leonardo R Gimeno</p>
    </div>
    <div class="team-member">
      <img src="../../../../assets/foto santi.png" class="rounded-circle" alt="Persona 2">
      <h3>Santiago Yaconis</h3>
          <p>Socio Fundador | Ing. Quimico <br>
          Linkedin Santiago Yaconis</p>
    </div>
  </div>

 