
  <div id="teamRow" class="team-row">
    <div class="team-member">
      <img src="../../../../assets/foto leo.png" class="rounded-circle" alt="Persona 1">
      <h3>Leonardo Gimeno</h3>
      <p>Director Ejecutivo | Ing. Aeronáutico  <br>
        Linkedin 
        <a href="https://www.linkedin.com/in/leonardo-r-gimeno-94b103b/" target="_blank">
          Leonardo R Gimeno        
        </a></p>
    </div>
    <div class="team-member">
      <img src="../../../../assets/foto santi.png" class="rounded-circle" alt="Persona 2">
      <h3>Santiago Yaconis</h3>
          <p>Socio Fundador | Ing. Quimico <br>
            Linkedin 
            <a href="https://www.linkedin.com/in/santiago-yaconis" target="_blank">
              Santiago Yaconis
            </a></p>
    </div>
  </div>

 