.team-member {

  position: relative; /* Necesario para el z-index */
  z-index: 1; /* Controlar la superposición */
  text-align: center;
}



.team-member img {
  width: 200px;
  height: 200px;
  
}


@media (min-width: 769px) {
  
  .team-row {
    padding: 50px;
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
  }
  .team-member h3 {
    font-family: "GutonMed", Georgia;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 10px;
  }

  .team-member p {
    font-family: "Guton", Georgia;
    font-size: 1.3 rem;
   
  }


 }


@media (max-width: 768px) {
  .team-row {
    padding: 50px;
  
    position: relative;
    display: flex;
    justify-content: center;
   
    gap: 50px;
    
  }
  .team-member {
    text-align: center;
  
  }
  
  .team-member img {
    width: 120px;
    height: 120px;
    object-fit: cover;
   
  }
  
  
  .team-member h3 {
    font-family: "GutonMed", Georgia;
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 10px;
  }
  
  .team-member p {
    font-family: "Guton", Georgia;
    font-size: 1rem;
   
  }
 
  
  
}
