/* nabvar.component.scss */
/* Estilo general del navbar */
.navbar {
  padding: 0.5rem 1rem; /* Ajusta el padding según tus necesidades */
}

/* Estilo para el logo */
.navbar-brand {
  margin-right: auto; /* Alinea el logo a la izquierda */
}

/* Estilo para el contenido expandible del navbar */
.navbar-collapse {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: flex-end; /* Alinea los elementos a la derecha */
}

/* Estilo para la lista de navegación */
.navbar-nav {
  display: flex; /* Usa flexbox para alinear los elementos de la lista */
  margin-left: auto !important; /* Alinea los botones a la izquierda */
 
}
.navbar-toggler {
  margin-left: auto; /* Alinea el botón de toggler a la derecha */
}
/* Asegúrate de que el navbar-toggler tenga el espacio adecuado */

.img {
  height: 60px;
}


.modal-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal-dialog {
  z-index: 9999; 
   /* Ajusta según lo necesario */
}
/* Evita el scroll en el body cuando el modal está abierto */
.modal-header {
  background-color: #f7f7f7; /* Cambia el color del fondo */
  padding: 10px 15px; /* Ajusta el padding de la cabecera */
}

.modal-title {
  font-size: 1.25rem; /* Ajusta el tamaño del título */
  font-weight: bold;
}

.btn-close {
  background-color: transparent;
  border: none;
}

/* Color del borde para campos válidos e inválidos */
input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-valid, textarea.ng-touched.ng-valid {
  border-color: rgb(0, 255, 0);
  
}
@media (max-width: 768px) {
  .modal-dialog {
    position: relative;
    top: 100%; /* Ajusta el valor según sea necesario */
  }
}