<nav class="navbar text-white navbar-expand-lg navbar-dark">
  <div class="container-fluid ">
    <div class="">
      <img
        src="../../../assets/blanco.png"
        (click)="scrollToSection('home')"
        class="img"
      />
    </div>

    <button
      class="navbar-toggler order-1"
      type="button"
      (click)="toggleNavbar(navbarNavDropdown)" 
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse order-2"
      id="navbarNavDropdown"
      #navbarNavDropdown
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button
            class="nav-link text-white"
            (click)="scrollToSection('contact')"
          >
            Contáctanos
          </button>
        </li>
        <li class="nav-item text-white">
          <button
            class="nav-link text-white"
            (click)="scrollToSection('teamCarousel')"
            (click)="scrollToSection('teamRow')"
            
          >
            Sobre Nosotros
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link text-white"
            (click)="scrollToSection('home')"
          >
            Home
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


