/* nabvar.component.scss */
#navbar {
  position: fixed ;
  padding-right: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo transparente */
  z-index: 1000  ; /* Asegúrate de que esté por encima de otros elementos */
  transition: all 0.3s ease ; /* Suaviza la transición del tamaño */
  }

.navbar-brand,
.nav-link {

  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-brand:hover,
.nav-link:hover {
 
  color: #c0c0c0;
}

.dropdown-menu,
.dropdown-item {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 80% de opacidad */
  color: #ffffff;
}

.img {
  height: 60px;
}
