#banner {
  flex: 1;
  background: url('../../../assets/mano-humana-escribiendo-teclado-computadora-noche-generada-ai.jpg') no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra todo el área del banner */
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%; /* Ancho completo de la ventana */
  height: 600px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
  }



#banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Ajusta el color del texto según sea necesario */
  z-index: 2; /* Asegura que el contenido esté sobre el overlay */
 
}

#banner-logo {
  max-width: 100%; /* Ajusta el tamaño del logo si es necesario */
  height: auto;
}

#banner-text {
  margin-top: 20px; /* Ajusta el espacio entre el logo y el texto descriptivo */
  font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
}