/* Animación de gradiente para el fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(
      20px
    ); /* Puedes ajustar la posición inicial si quieres */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Sección de presentación */
#presentation {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #000000, rgb(2, 65, 255));
  background-size: 200% 100%; /* Asegura que el gradiente cubra el área y permita la animación */
  animation: gradientAnimation 10s ease infinite; /* Aplica la animación */
  min-height: 100vh; /* Asegura que el fondo ocupe toda la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* Título */
h2 {
  text-align: center;
  color: white;
}

/* Contenedor de las tarjetas */
.card-container {
  display: flex;
 
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas si es necesario */
  gap: 20px; /* Espacio entre las tarjetas */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilos de la tarjeta */
.card {
  opacity: 0;
  border-radius: 20px;
  transform: translateY(0);
  /*Posicióninicial*/
  overflow: auto;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  box-shadow: 0 2px 2px rgba(2, 65, 255, 0.5) !important;
  background: white;
  animation: fadeIn 3s ease-in-out forwards;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.card.show {
  opacity: 1; /* Asegura que se muestren con animación */
  transform: translateY(0); /* Asegura que se muestren con animación */
  animation: fadeIn 4s ease-in-out forwards;
}

.card:hover {
  transform: scale(1.05);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  ); /* Ajusta el alfa para la transparencia */
  color: white;
}
/* Animación secuencial: Añadiendo retrasos */
.card:nth-child(1) {
  animation-delay: 2s; /* Sin retraso para la primera card */
}

.card:nth-child(2) {
  animation-delay: 3s; /* 0.2 segundos de retraso */
}

.card:nth-child(3) {
  animation-delay: 5s; /* 0.4 segundos de retraso */
}

/* Ajustes para la tarjeta descriptiva */
.content-wrapper {
  
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

/* Imagen personalizada */
.custom-img {
  width: 50%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
}

/* Contenedor de texto */
.text-content {
  color: white;
  max-width: 600px;
}

/* Título de la sección */
.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Texto de la sección */
.section-text {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
}

/* Añadir sombra al texto para mejorar la legibilidad */
.section-title,
.section-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column; /* Apila el contenido en dispositivos más pequeños */
    align-items: flex-start;
  }

  .custom-img {
    width: 100%;
  }

  .text-content {
    text-align: center; /* Centra el texto en dispositivos más pequeños */
  }
}