

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(
      20px
    ); /* Puedes ajustar la posición inicial si quieres */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Sección de presentación */
#presentation {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Título */
h2.text-center {

    text-align: center;
    color: #ffffff; 
    text-shadow: #000000 0 4px 4px;
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    letter-spacing: 1px; /* Espaciado entre letras para un efecto refinado */
    text-transform: uppercase; /* Todo en mayúsculas para un impacto visual mayor */
    margin-bottom: 30px; /* Espacio inferior ajustado */
    position: relative;
    display: inline-block;
    transition: color 0.5s ease-in-out; /* Transición suave del color */
    text-decoration:underline 1px ; 
        text-underline-offset: 10px;

      &:hover {
        color:#00c2f3; /* Color al hacer hover */
        text-shadow: #000000 0 5px 5px;
     
        
      }
}



/* Contenedor de las tarjetas */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas si es necesario */
  gap: 20px; /* Espacio entre las tarjetas */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
 overflow:  hidden ;
}

/* Estilos de la tarjeta */
.card {
  opacity: 0;
  border-radius: 20px;
  transform: translateY(20px) rotateX(0) rotateY(0);
  /*Posicióninicial*/overflow: hidden;
  transition: transform 1s ease-in-out,opacity 1s ease-in-out, box-shadow 1s ease-in-out ;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(124, 124, 124, 0.4), 0 6px 10px rgba(233, 233, 233, 0.2) !important ; /* Sombra para efecto de profundidad */
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transition: transform 1s ease-in-out,opacity 1s ease-in-out, box-shadow 1s ease-in-out ;
  -moz-transition: transform 1s ease-in-out,opacity 1s ease-in-out, box-shadow 1s ease-in-out ;
  -ms-transition: transform 1s ease-in-out,opacity 1s ease-in-out, box-shadow 1s ease-in-out ;
  -o-transition: transform 1s ease-in-out,opacity 1s ease-in-out, box-shadow 1s ease-in-out ;
}
.card.show {
  opacity: 1 ;
  transform: translateY(0) rotateX(0) rotateY(0); /* Asegura que las tarjetas se muestren sin rotación */
  animation: fadeIn 8s ease-in-out forwards;
}

.card-title{
  color: #00c2f3;
  text-shadow:#000000 0 0.5px 1px ;
  text-decoration:underline 1px ; 
  text-underline-offset: 10px;

}
.card-text{
  font-size: 1rem;
  text-shadow:#000000 0 0.5px 0.5px ;
}
.card:hover {
  z-index: 1;
  transform: translateY(-10px) rotateX(10deg) rotateY(10deg) scale(1.05) ;
  background: url('../../../../assets/leonardo-b-card.jpg') no-repeat center center;
  background-size: cover; /* Ajusta la imagen al tamaño de la tarjeta */
  color: #ffffff;
  border: 1.5px solid rgba(214, 214, 214, 0.6)!important; /* Borde del mismo color que la línea */
  border-radius: 20px !important; /* Bordes redondeados */
  box-shadow: 0 3px 8px rgba(6, 10, 41, 0.81)!important; /* Sombra más pronunciada */
  transition: all 0.6s ease-in-out; /* Transición suave para los efectos del hover */
}
.card-body {
  transition: opacity 0.6s ease-in-out; /* Transición más suave para el contenido */
}
.card:hover .card-body {
  opacity: 0; /* Desaparece el contenido cuando está en hover */
}
/* Animación secuencial: Añadiendo retrasos */
.card:nth-child(1) {
  animation-delay: 2s; /* Sin retraso para la primera card */
}

.card:nth-child(2) {
  animation-delay: 3s; /* 0.2 segundos de retraso */
}

.card:nth-child(3) {
  animation-delay: 5s; /* 0.4 segundos de retraso */
}

/* Añadir sombra al texto para mejorar la legibilidad */


/*SECCION NUESTRAS FORMAS*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  @media (min-width: 768px) {
    .row .card {
      animation: fadeInUp 5s ease-in-out forwards;
      -webkit-animation: fadeInUp 5s ease-in-out forwards;
}
  }

@media (max-width: 768px) {
  #presentation {
    padding: 20px;
  }

  h2.text-center {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  h2.text-center::after {
    width: 40px;
    height: 3px;
    bottom: -8px;
  }
  .carousel-item {
    transition: transform 3s ease-in-out !important;
  }
  .card-container {
    flex-direction:column;
    align-items: center;
  }

  .card {
    width: 90%;
    /*Ajustaeltamañodelastarjetas*/margin-bottom: 10px;
    /*Añadeespacioentrelastarjetas*/animation: fadeIn 2s ease-in-out forwards;
    -webkit-animation: fadeIn 2s ease-in-out forwards;
}
.card-text{
  font-size: 1.2rem;
}

.card:hover {
  transform: scale(1.00) ;
  width: 90%;
  background: url('../../../../assets/leonardo-b-card.jpg') no-repeat center center;
  background-size: cover; /* Ajusta la imagen al tamaño de la tarjeta */
  /*Ajustaelalfaparalatransparencia*/color: #c0c0c0	;
  border: 1.5px solid rgba(232, 232, 232, 0.6)!important;
  /*Bordedelmismocolorquelalínea*/border-radius: 20px !important;
  -webkit-transform: scale(1.00) ;
  -moz-transform: scale(1.00) ;
  -ms-transform: scale(1.00) ;
  -o-transform: scale(1.00) ;
}

}