<section id="presentation" class="py-5">
  <h2 class="text-center mb-4">¿Por qué elegirnos?</h2>
  <!-- Vista en pantallas grandes -->
  <div class="row justify-content-center d-none d-md-flex">
    <div class="col-md-3 card-container" *ngFor="let card of cards; let i = index">
      <div class="card  shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.text }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Carrusel para pantallas pequeñas -->
  <div id="cardsCarousel" class="carousel slide d-block d-md-none">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let card of cards; let i = index"
        [class.active]="i === 0"
      >
        <div class="card  shadow-sm mx-auto">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Botones de control del carrusel -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#cardsCarousel"
      data-bs-slide="prev"
      aria-label="Previous"
    >
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#cardsCarousel"
      data-bs-slide="next"
      aria-label="Next"
    >
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      
    </button>
  </div>
</section>
