/* Animación de gradiente para el fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animación de aparición */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(
      20px
    ); /* Puedes ajustar la posición inicial si quieres */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sección de presentación */
#presentation {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #000000, rgb(2, 65, 255,0.5));
  background-size: 200% 100%;
  animation: gradientAnimation 20s ease infinite;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Título */
h2.text-center {
  text-align: center;
  color: #e0c097; /* Un dorado claro elegante */
  
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  font-weight: bold;
  letter-spacing: 1px; /* Espaciado entre letras para un efecto refinado */
  text-transform: uppercase; /* Todo en mayúsculas para un impacto visual mayor */
  margin-bottom: 30px; /* Espacio inferior ajustado */
  position: relative;
  display: inline-block;
}

h2.text-center::after {
  content: '';
  width: 60px;
  /*Longituddelalínea*/height: 4px;
  /*Grosordelalínea*/background-color: #e0c097;
  /*Colordelalíneacoincidente*/position: absolute;
  bottom: -10px;
  /*Espaciadodesdeeltexto*/left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* Contenedor de las tarjetas */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas si es necesario */
  gap: 20px; /* Espacio entre las tarjetas */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Estilos de la tarjeta */
.card {
  opacity: 0;
  border-radius: 20px;
  transform: translateY(0);
  /*Posicióninicial*/overflow: auto;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,    background-color 0.5s ease-in-out;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(224, 192, 151, 0.9);
  animation: fadeIn 3s ease-in-out forwards;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,    background-color 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,    background-color 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,    background-color 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,    background-color 0.5s ease-in-out;
  -webkit-animation: fadeIn 3s ease-in-out forwards;
}
.card.show {
  opacity: 1; /* Asegura que se muestren con animación */
  transform: translateY(0); /* Asegura que se muestren con animación */
  animation: fadeIn 4s ease-in-out forwards;
}

.card:hover {
  transform: scale(1.05);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)
  ); /* Ajusta el alfa para la transparencia */
  color: #e0c097;
}
/* Animación secuencial: Añadiendo retrasos */
.card:nth-child(1) {
  animation-delay: 2s; /* Sin retraso para la primera card */
}

.card:nth-child(2) {
  animation-delay: 3s; /* 0.2 segundos de retraso */
}

.card:nth-child(3) {
  animation-delay: 5s; /* 0.4 segundos de retraso */
}
.divider {
  width: 80%;
  height: 2px;
  background-color: rgba(224, 192, 151, 0.6); /* Color dorado claro para la línea */
  margin: 40px auto; /* Espacio alrededor de la línea y centrado horizontal */
}
/* Ajustes para la tarjeta descriptiva */
.content-wrapper {
  
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

/* Imagen personalizada */
.custom-img {
  width: 50%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border: 4px solid rgba(224, 192, 151, 0.6); /* Borde del mismo color que la línea */
  border-radius: 15px; /* Bordes redondeados */
}

/* Contenedor de texto */
.text-content {
  color: #e0c097;
  max-width: 600px;
}

/* Título de la sección */
.section-title {
  color: #e0c097; /* Un dorado claro elegante */
  font-family: 'Merriweather', serif; /* Fuente serif para un toque formal */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  font-weight: bold;
  letter-spacing: 1px; /* Espaciado entre letras para un efecto refinado */
  text-transform: uppercase; /* Todo en mayúsculas para un impacto visual mayor */
  margin-bottom: 30px; /* Espacio inferior ajustado */
  position: relative;
  display: inline-block;
}


/* Texto de la sección */
.section-text {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
}

/* Añadir sombra al texto para mejorar la legibilidad */
.section-title,
.section-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  #presentation {
    padding: 20px;
  }

  h2.text-center {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  h2.text-center::after {
    width: 40px;
    height: 3px;
    bottom: -8px;
  }

  .card-container {
    flex-direction:column;
    align-items: center;
  }

  .card {
    width: 100%; /* Ajusta el tamaño de las tarjetas */
    margin-bottom: 20px; /* Añade espacio entre las tarjetas */
  }

  .content-wrapper {
    flex-direction: column;
    align-items:center;
  }

  .custom-img {
    
    width: 100%;
    max-width: none;
  }

  .text-content {
    text-align: center;
   
  }

  .section-title {
    padding-top: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .section-text {
    font-size: 1rem;
    line-height: 1.6;
  }
}