
.contact-form-container {
  background-image: url('./../../../../assets/que\ hacemos\ mobile.png');
  background-size: cover; /* Ajusta la imagen para que cubra toda el área */
  background-position: center; /* Centra la imagen en el contenedor */
  padding: 20px;
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  padding-top: 35px;
  
}
  
h1 {
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  font-size: 2rem;
  padding: 10px;
  color: #ddd;
  font-family: "GutonExtBd", Georgia;
  
}

.contact-form {
 
  background: none;
  padding: 20px;
}
.form-group {
  background: none;
  display: flex;
  flex-direction: column;
 
}
.form-group input,
.form-group textarea {
  color: white;
  font-family: "Guton", Georgia;
  font-weight: 600;
  background: none;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 0px;
}
input::placeholder {
  font-family: "Guton", Georgia;
  font-weight: 600;
  color: rgb(197, 197, 197);
}
textarea::placeholder{
  font-family: "Guton", Georgia;
  font-weight: 600;
  color: rgb(197, 197, 197);
}
.form-group textarea {
  height: 100px;
  resize: vertical;
}
.btn{
  background-color: #ddd !important;
  color: blue !important; 
  border-radius: 20px;
  border: none;
  font-family: "Guton", Georgia;
 
}



input[type="text"],
input[type="email"],
input[type="tel"] {
  padding-left: 40px; /* Espacio para el icono */
}

.form-group input.ng-touched.ng-invalid,
.form-group textarea.ng-touched.ng-invalid {
  border-color: red;
}

.form-group input.ng-touched.ng-valid,
.form-group textarea.ng-touched.ng-valid {
  border-color: green;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .contact-form-container {
    background-image: url('./../../../../assets/que hacemos desktop.png');
    background-size: cover; /* Ajusta la imagen para que cubra toda el área */
    background-position: center; /* Centra la imagen en el contenedor */
    padding: 20px;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
    
  h1 {
    width: 50%;
    font-size: 4rem;
    padding: 10px;
    color: #ddd;
    font-family: "GutonExtBd", Georgia;
    text-align: left;
  }
  
  .contact-form {
    width: 50%;
    background: none;
    padding: 20px;
  }
  
  .form-group {
    background: none;
   
  }
  .form-group input,
  .form-group textarea {
    width: 451px;
    color: white;
    font-family: "Guton", Georgia;
    font-weight: 600;
    background: none;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 0px;
  }
  input::placeholder {
    font-family: "Guton", Georgia;
    font-weight: 600;
    color: rgb(197, 197, 197);
  }
  textarea::placeholder{
    font-family: "Guton", Georgia;
    font-weight: 600;
    color: rgb(197, 197, 197);
  }
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  .btn{
   
    background-color: #ddd !important;
    color: blue !important; 
    border-radius: 20px;
    border: none;
    font-family: "Guton", Georgia;
    font-weight: 500;
  }
  
  
  
}