
.back{
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);  
}
.container {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  z-index: 0;
}

/* Ajusta la proporción entre la imagen y el formulario */
.contact-form-wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  height: auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-image {
  flex: 1; /* El formulario ocupará el 60% del contenedor */
  display: flex;
  align-items: center;
}


.contact-image img {
  width: 100%;
  height: auto; /* Ajusta la altura para que se mantenga la proporción */
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.contact-form-container {
  flex: 0 0 60%; /* El formulario ocupará el 60% del contenedor */
  padding: 20px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduce el espacio entre los elementos del formulario */
}

.form-group input,
.form-group textarea {
  padding: 8px; /* Reduce el padding para hacer los campos más pequeños */
  font-size: 0.9rem; /* Reduce el tamaño del texto */
}

.form-group label {
  
  display: flex;
  align-items: center; /* Alinea el icono y el texto verticalmente */
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}



input[type="text"],
input[type="email"],
input[type="tel"] {
  padding-left: 40px; /* Espacio para el icono */
}

.form-group input.ng-touched.ng-invalid,
.form-group textarea.ng-touched.ng-invalid {
  border-color: red;
}

.form-group input.ng-touched.ng-valid,
.form-group textarea.ng-touched.ng-valid {
  border-color: green;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .contact-form-wrapper {
    flex-direction: column; /* Hace que la imagen esté encima del formulario */
    height: auto; /* Permite que el contenedor se ajuste dinámicamente */
  }

  .contact-image, .contact-form-container {
    flex: none;
    width: 100%; /* Hace que tanto la imagen como el formulario ocupen el 100% del ancho */
    border-radius: 0; /* Elimina los bordes redondeados en pantallas pequeñas */
  }

  .contact-image img {
    border-radius: 0; /* Asegura que la imagen no tenga bordes redondeados en móviles */
    height: 350px; /* Permite que la imagen se ajuste dinámicamente en pantallas más pequeñas */
  }

  .contact-form-container {
    padding: 15px; /* Reduce el padding en móviles para un mejor ajuste */
    box-shadow: none; /* Puedes eliminar o ajustar el shadow si es necesario en pantallas pequeñas */
  }
}