.divider {
    width: 80%;
    height: 2px;
    background-color: rgba(232, 232, 232, 0.0); /* Color dorado claro para la línea */
    margin: 40px auto; /* Espacio alrededor de la línea y centrado horizontal */
    
  }
  /* Ajustes para la tarjeta descriptiva */
  .content-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    
  }
  
  /* Imagen personalizada */
  .custom-img {
    
    width: 50%;
    max-width: 600px;
    height: auto ;
    object-fit: cover;
    border: 2px solid rgba(232, 232, 232, 0.6); /* Borde del mismo color que la línea */
    border-radius: 5px; /* Bordes redondeados */
    transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #imagescarousel {
    width: 50%; /* Este valor debe coincidir con el ancho de .custom-img */
    max-width: 600px;
    min-height: 400px; /* Ajusta este valor según la altura de tus imágenes */
    overflow: hidden;
  
  }
  .carousel-item-next .custom-img,
  .carousel-item-prev .custom-img {
    transform: translateX(5%) scale(0.7); /* Mueve y reduce ligeramente la imagen durante la transición */
  }
  
  .carousel-item.active .custom-img {
    transform: translateX(0) scale(1); /* Restaura la imagen cuando está activa */
  }
  
  
  .carousel-item {
  transition: transform 3s ease-in-out !important;
  }
  
  /* Contenedor de texto */
  .text-content { 
    color: #000000	;
    max-width: 600px; 
    margin-bottom: 50px;
  }
  
  /* Título de la sección */
  .section-title {
    color: #ffffff	; 
    text-shadow: #000000 0 4px 4px;
   /* Fuente serif para un toque formal */
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    font-weight: bold;
    letter-spacing: 1px; /* Espaciado entre letras para un efecto refinado */
    text-transform: uppercase; /* Todo en mayúsculas para un impacto visual mayor */
  
    position: relative;
    display: inline-block;
    
  }
  
  
  /* Texto de la sección */
  .section-text {
    padding-left: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .custom-img, #imagescarousel {
        width: 90%; /* La imagen y el carrusel ocupan el ancho completo */
        min-height: auto; /* Permite que la altura sea flexible */
        transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1); /* Transición suave en el cambio de imágenes */
      
      }
        .content-wrapper {
          flex-direction: column;
          align-items:center;
        }
      
        .carousel-item-next .custom-img,
        .carousel-item-prev .custom-img {
          transform: translateX(10%) scale(0.5); /* Desplaza la imagen y la reduce ligeramente durante la transición */
        }
        
        .carousel-item.active .custom-img {
          transform: translateX(0) scale(1); /* Restaura la imagen a su tamaño original cuando está activa */
        }
      
        .text-content {
          text-align: center;
          max-width: 100%;
        }
      
        .section-title {
          padding-top: 20px;
          font-size: 2rem;
          margin-bottom: 20px;
          margin-right: 30px;
        }
      
        .section-text {
          font-size: 1.2rem;
          line-height: 1;
          margin-right: 20px;
        }

  }