.section-process {
    background: linear-gradient(to bottom, #000 70%, #fff 30%);
   padding-bottom: 40px;
  }
  .alianza-container {
    color: #fff;
    font-family: 'Guton';
    text-align: center;
    padding: 20px;

    h1 {
       padding-top: 20px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 280px;
        margin: 0 auto 20px;
        display: block;
    }

    p {
        
        font-size: 1.3rem
    }
}
 
  .carousel {
    width: 90%;
  }
  .card-1{
    background-image: url(../../../../assets/1card.png);
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    }
    .card-2{
    background-image: url(../../../../assets/3card.png);
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    }
    .card-3{
    background-image: url(../../../../assets/2card.png);
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    }
  .process-step {
   
    background-color: #0015ff;
    color: white;
    padding-left: 10px;
    height: 100%;
    margin: 0 10px;
    min-height: 300px;
    border-radius: 0px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    -moz-transition: transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: transform 0.5s ease, opacity 0.5s ease;
    -o-transition: transform 0.5s ease, opacity 0.5s ease;
}
  

  
  .card h4 {
    font-family: "GutonMed", Georgia;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .card p {
    padding-right: 30px;
    font-family: "Guton", Georgia;
    font-weight: 300;
  }
  
  .carousel-inner {
    display: flex;
    align-items: center;
  }
  

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    
    opacity: 0;
  }
  .carousel-indicators{
    margin-bottom: -30px !important;
   
  }
  .carousel-indicators [data-bs-target] {
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc; /* Color para los indicadores inactivos */
    
  }
  .carousel-indicators .active {
    background-color: #000; /* Color negro para el indicador activo */
  }
  
  @media (min-width: 768px) { /* Para pantallas medianas hacia arriba */
    .alianza-container {
      color: #fff;
      font-family: 'Guton';
      text-align: center;
      padding: 20px;
  
      h1 {
         padding-top: 20px;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
      }
  
      .logo {
          padding-top: 20px;
          padding-bottom: 20px;
          width: 280px;
          margin: 0 auto 20px;
          display: block;
      }
  
      p {
          
          font-size: 1.3rem
      }
  }
    .card-body{
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
    .process-step {
      margin: 20px 10px;
    }
  .card-1{
  background-image: url(../../../../assets/1carddeskt.png);
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  
  }
  .card-2{
  background-image: url(../../../../assets/3carddeskt.png);
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  
  }
  .card-3{
  background-image: url(../../../../assets/2carddesk.png);
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  
  }
  }
  