<div class="container-fluid section-process">
    <div class="row">
      <div class="text-start text-white py-5">
        <h3>PROCESO EN 3 PASOS</h3>
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicadores de carrusel -->

  
        <!-- Contenido del carrusel -->
        <div class="carousel-inner">
          <!-- Tarjeta 1 -->
          <div class="carousel-item active card-animated">
            <div class="card process-step">
              <div class="card-body">
                <h1 class="step-number">1</h1>
                <h4>Análisis <br>y diagnóstico</h4>
                <p>Estudio de los sistemas de OT y ciberseguridad al detalle.</p>
              </div>
            </div>
          </div>
  
          <!-- Tarjeta 2 -->
          <div class="carousel-item card-animated">
            <div class="card process-step">
              <div class="card-body">
                <h1 class="step-number">2</h1>
                <h4>Implementación de soluciones</h4>
                <p>Adaptación de tecnologías para optimización y seguridad.</p>
              </div>
            </div>
          </div>
  
          <!-- Tarjeta 3 -->
          <div class="carousel-item card-animated">
            <div class="card process-step">
              <div class="card-body">
                <h1 class="step-number">3</h1>
                <h4>Seguimiento <br>y soporte</h4>
                <p>Monitoreo continuo para garantizar la efectividad y seguridad.</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Controles del carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>
  