<section id="banner">
  <app-banner/>
</section>
<section id="presentation">
  <app-menu-item></app-menu-item>
</section>
@defer( ) {

  <app-nosotros></app-nosotros>
   <!-- Cargar NuestraManeraComponent de manera diferida -->
   <ng-container *ngIf="nuestraManeraLoaded">
    <app-nuestra-manera></app-nuestra-manera>
  </ng-container>
   <ng-container *ngIf="procesosLoaded">
    <app-procesos/>
    <app-dragos></app-dragos>
  </ng-container>
   <ng-container *ngIf="personalLoaded">
    <app-personal/>
    <app-jefes></app-jefes>
    <app-experiencia></app-experiencia>
  </ng-container>
    
}

