.accordion-container {
 background-color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
 
}

.accordion-span {
  font-size: bold;
}

.accordion-container h2 {
 
  text-align: center;
  font-family: "GutonSemBd", Georgia;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.accordion-item { 
  background: #1525EA;
  margin: 20px;
  overflow: hidden;
}

.accordion-btn {

  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  gap: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
}

.accordion-title {
  text-align: center;
  font-family: "GutonMed", Georgia;
  font-size: 22px;
 padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.accordion-btn:hover {
  color: #f2f2f2;
}

.accordion-content {
 padding: 20px;
 max-height: 100px; /* Mostrar un poco del contenido */
 overflow: hidden;
 opacity: 0.7;
  transition: max-height 1s ease, opacity 0.5s ease;
  box-sizing: border-box;
  
}

.accordion-content.active {
  max-height: none; /* Un valor suficientemente grande */
  opacity: 1;
  transition: max-height 1s ease, opacity 0.5s ease;
}

.accordion-btn i {
  font-size: 24px;
  margin-right: 10px;
}

p {
  margin-top: -20px;
   text-align: center;
  line-height: 1.5;
  hyphens: auto; /* Activa la división automática de palabras */
  overflow-wrap: break-word; /* Permite romper palabras largas si es necesario */
  font-family: "Guton", Georgia;
}

  .accordion-content.active {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
  }
  
  .accordion-btn i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  @media (min-width: 768px) {

.accordion-btn{
  font-size: 2rem !important;
  margin-left: 15px !important;
}
  .accordion-container h2 {
    font-size: 3rem !important;
  }
  .accordion-btn i {

    font-size: 30px;
    margin-right: 10px;
  }
  p{
    font-family: "Guton", Georgia;
    font-size: 1rem;
    padding-left: 20px;
    
  }

  .accordion-content.active {
    max-height: none; /* Ajusta según el contenido */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease; 
  }
 .btn-container{
  align-items: center;
  display: flex;  
  text-align: center !important; 
  flex-direction: column;
 }     
 
  }
 