/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    font-family: "Josefin Sans", sans-serif;
    height: 100%;
    overflow-x: auto; /* Asegura que no haya desplazamiento horizontal */
    scroll-behavior: smooth;
    box-sizing: border-box;
    
  }
  body{ 
    
    background: url('assets/4884273.jpg'); /* Ruta de la imagen en tu proyecto */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }

  