.accordion-container {
  background-image: url('../../../../assets/contacto mobile.png');
  background-size: cover; /* Ajusta la imagen para que cubra toda el área */
  background-position: center; /* Centra la imagen en el contenedor */
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
 
}

.accordion-span {
  font-size: bold;
}

.accordion-container h2 {
 
  text-align: center;
  font-family: "GutonSemBd", Georgia;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  overflow: hidden;
  
  width: 100%; /* Asegurar que todos los elementos tienen el mismo ancho */
}

.accordion-btn {
  font-family: "GutonMed", Georgia;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 70px;
  
  transition: color 0.3s ease;
  width: 100%; /* Asegurar que el botón ocupa todo el ancho */
  box-sizing: border-box;
}

.accordion-btn:hover {
  color: #f2f2f2;
}

.accordion-content {
  width: 90%; /* Asegurar que el contenido ocupa todo el ancho */
  padding-left: 105px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  box-sizing: border-box;
  
}

.accordion-content.active {
  max-height: 100px;
  opacity: 1;
}

.accordion-btn i {
  font-size: 24px;
  margin-right: 10px;
}

p {
  font-family: "Guton", Georgia;
  display: flex;
}

  .accordion-content.active {
    max-height: 100px; /* Ajusta según el contenido */
    opacity: 1;
  }
  
  .accordion-btn i {
    font-size: 24px;
    margin-right: 10px;
  }
  .btn-container{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .bt-service {
        /* Centra el contenido verticalmente */
    height: 40px;               /* Ajusta la altura del botón según sea necesario */
    padding: 0;                 /* Elimina el padding interno para evitar que el texto se desplace */
    border: none;   
    border-radius: 20px ;
  
  }
  
  .bt-service a {
    font-family: "GutonMed", Georgia;
    font-weight: 500;
    color: rgb(38, 0, 255);
    margin-left: 20px;
    margin: 0;                  /* Elimina el margen del párrafo */
    white-space: nowrap;
    padding:10px 20px 10px 20px;        /* Evita que el texto se divida en múltiples líneas */
  }
  @media (min-width: 768px) {

.accordion-btn{
  font-size: 2rem !important;
  margin-left: 15px !important;
}
  .accordion-container h2 {
    font-size: 3rem !important;
  }
  .accordion-btn i {

    font-size: 30px;
    margin-right: 10px;
  }
  p{
    font-family: "Guton", Georgia;
    font-size: 1.5rem;
    padding-left: 20px;
    
  }

  .accordion-content.active {
    max-height: 100px; /* Ajusta según el contenido */
    opacity: 1;
  }
 .btn-container{
  align-items: center;
  display: flex;  
  text-align: center !important; 
  flex-direction: column;
 }     
  .bt-service {
   
    justify-content: center;     
    align-items: center;         /* Alinea verticalmente */
    height: 80px;                /* Asegúrate de que el botón tenga suficiente altura */
    padding: 0 20px;             /* Ajusta el padding para dar más espacio a los lados */
    border: none;   
    border-radius: 20px;
    margin-left: 10px;
        /* Centro el texto */
  }
  
  .bt-service a {
    font-family: "GutonMed", Georgia;
    font-weight: 500;
    color: rgb(38, 0, 255);
    text-decoration: none;       /* Elimina el subrayado en el enlace */
  }
  
  .bt-service a:hover {
    color: rgb(0, 0, 150);       /* Cambia el color al hacer hover */
  }
 
  }
 