<div class="accordion-container">
  <h2><strong>¿Qué hacemos?</strong></h2>

  <div class="accordion-item">
    <button class="accordion-btn" (click)="toggleAccordion(0)">
      <i
        [ngClass]="
          isOpen[0] ? 'fa-solid fa-circle-minus' : 'fa-solid fa-circle-plus'
        "
      ></i
      ><strong>CIBERSEGURIDAD OT</strong>
    </button>
    <div class="accordion-content" [ngClass]="{ active: isOpen[0] }">
      <p class="p1">
        Servicios entregados por expertos en OT <br>
        Plataformas: tecnología de software y hardware <br>
        Plan de respuesta a incidentes específicos personalizados <br>

      </p>
    </div>
      <button class="accordion-btn" (click)="toggleAccordion(1)">
        <i
          [ngClass]="
            isOpen[1] ? 'fa-solid fa-circle-minus' : 'fa-solid fa-circle-plus'
          "
        ></i
        ><strong>CONSULTORÍA EN AUTOMATIZACIÓN</strong>
      </button>
      <div class="accordion-content" [ngClass]="{ active: isOpen[1] }">
        <p class="p2">
          Optimización de procesos <br>
          Excelencia Operacional (HMI, Alarmas, Ventanas Operativas, Logbooks, etc) <br>
          Análisis de estrategias de control y Control de Procesos <br>
          
        </p>
      </div>
        <button class="accordion-btn" (click)="toggleAccordion(2)">
          <i
            [ngClass]="
              isOpen[2] ? 'fa-solid fa-circle-minus' : 'fa-solid fa-circle-plus'
            "
          ></i
          ><strong>SOLUCIONES AVANZADAS</strong>
        </button>
        <div class="accordion-content" [ngClass]="{ active: isOpen[2] }">
          <p class="p3">
            Analítica e IA aplicadas a entornos OT <br>
            Demand Forcasting & Supply Chain <br>
            
          </p>
        </div>
      </div>
      <div class="btn-container">
        <button type="button" class="btn btn-light bt-service">
          <a [routerLink]="['/servicios']" fragment="seccion">DESCUBRE TODOS LOS SERVICIOS</a>
        </button>
      </div>
    </div>


